.search-box-sec {
	padding-bottom: 0;
}
.search-area {
	position: relative;
}
input {
	box-sizing: border-box;
	width: 100%;
	height: 35px;
	padding: 0 10px;
	border: transparent;
	border-radius: 5px;
	background-color: #ededed;
	font-size: 13px;
}
.search-area::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	width: 16px;
	height: 16px;
	background: url(../img/icons/singlesearch.png) no-repeat center / 100%;
	cursor: pointer;
}
.search-keyword {
	overflow: hidden;
	margin-top: 10px;
	font-size: 12px;
	text-indent: 2px;
}
.search-keyword > strong,
.search-keyword > span {
	display: inline-block;
	float: left;
	margin-right: 10px;
}
.search-keyword > strong {
	font-weight: 700;
}
.search-keyword > span {
	color: #767676;
}
.recom-item-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.recom-item-box > li {
	width: calc((100% - 16px) / 2);
	margin-bottom: 20px;
	font-size: 12px;
}
.recom-item-box > li:nth-child(5),
.recom-item-box > li:last-child {
	margin-bottom: 0;
}
.recom-item-box .name {
	padding-top: 10px;
}
.recom-item-box .price {
	font-size: 14px;
	font-weight: 700;
}
.more-btn {
	width: calc(100% - 2px);
	height: 28px;
	line-height: 28px;
	border: 1px solid #bbb;
    background-color: #fff;
    font-size: 12px;
    text-align: center;
    margin: 24px 0;
}